
<div *ngIf="topics_content == 0">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-link" [routerLink]="['/notifications']"><i class="fa fa-angle-left" aria-hidden="true"></i>{{btnback}}</button>
        </div>
        <div class="col-md-9">
            <h3>
                <small class="text-muted col text-center" style="margin-left: 145px;">{{notfound}}</small>
            </h3>
        </div>
    </div>
    <br>
</div>

<div *ngIf="messages">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-link" [routerLink]="['/notifications']">
                <i class="fa fa-angle-left" aria-hidden="true"></i>{{btnback}}</button>
        </div>
        <div class="col-md-9">
            <h3>
                <small class="text-muted col text-center" style="margin-left: 145px;">{{statistics}}</small>
            </h3>
        </div>
    </div>
    <br>
</div>

<div *ngFor="let data of messages">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th attr.colspan="{{topics_count}}">
                    <i class="fa fa-comment-o" aria-hidden="true" [ngStyle]="{'color': '#00d4f3'}"></i>
                    {{ header_messg }} {{ data['mensaje'][0]['contenido'] }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" style="color: #00d4f3">
                    {{ general }} {{ data['mensaje'][0]['total'] }} / {{ data['mensaje'][0]['total'] }} {{ text_people }}
                </td>
                <td attr.rowspan="2" *ngFor="let obj of data['mensaje'][0]['topics']">
                    {{ topic_title }} {{ obj['topic'] }} {{ obj['total'] }} / {{ obj['total'] }} {{ text_people }}
                </td>
            </tr>
        </tbody>
    </table>
</div>