<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" [routerLink]="['/notifications']">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto" *ngIf="showHide()">
    </ul>
    <div class="navbar-nav" *ngIf="showHide()">
      <!-- <li class="nav-item dropdown">
        <a class="nav-link" [routerLink]="['/splash']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
        </a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link" [routerLink]="['/management']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/login']" (click)="logoutClick($event)">{{logout}}</a>
        </div>
      </li>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="starter-template">
    <div *ngIf="!showHide()">
        <router-outlet></router-outlet>
        <div>
            <footer class="footer-alts">
              <a>{{title}}</a><br>
              {{copyright}}
              <br>
            </footer>
          </div>
    </div>
    <div *ngIf="showHide()">
        <div class="row">
            <div class="col-md-3 bg-faded sidebar">
                <div class="input-group">
                  <button id="buttontopic" class="btn btn-info" type="button" [routerLink]="['/topics']">Add topic</button>
                  <button id="buttontopic" class="btn btn-info" type="button" [routerLink]="['/notifications']">New message</button>
                </div>
                <div class="searchicon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="filter_topic">
                </div>
                <ul class="list-group">
                    <li *ngFor="let obj of topics | filter : filter_topic" class="list-group-item bg-faded" style="border: none">
                        <i class="fa fa-comment-o" aria-hidden="true" [ngStyle]="{'background': obj.color, 'padding':'7px', 'border-radius':'50%', 'color': '#fff'}"></i>
                        <a class="col text-left nav-link text-muted" [routerLink]="['/messages']" [queryParams]="{id: obj.id, desc: obj.text, color: obj.color}">{{obj.text}}</a>
                        <app-delete-topics class="deleteicon" [obj]="obj" [topics]="topics"></app-delete-topics>
                    </li>
                  </ul>
            </div>
            <main class="col-sm-9 offset-sm-3 col-md-9 pt-3">
                <router-outlet></router-outlet>
            </main>
    </div>
  </div>  
</div>
</div>