// body
$padding_body: 50px;

// starter
$padding_starter: 40px 15px;

// footer
$text-align-alts: center;
$padding-alts: 30px 0;
$margin-top-alts: 70px;
$border-top-alts: 1px solid #e5e5e5;
$background-color-alts: #f5f5f5;

//table bottons inline
$display-inline-comp-alts: inline;